* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  font-family: sans-serif;
  height: 100vh;
}
nav {
  width: 300px;
  overflow-y: auto;
  padding: 10px;
}
h1 {
  font-size: 20pt;
}
h2 {
  font-size: 12pt;
}
p {
  margin: 10px 0;
}
#welcome {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  height: 100%;
  justify-content: center;
}
#dropzone {
  border: 2px dashed #08e;
  border-radius: 10px;
  color: #444;
  flex: 1;
  margin: 10px;
  overflow: auto;
  padding: 10px;
}
input[type="file"] {
  display: none;
}
.over {
  background-color: lightblue;
}
.error {
  color: #c11;
}
#layout {
  margin-top: 20px;
}
.layout div {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  padding: 4px;
  word-break: break-all;
}
.layout div {
  background-color: rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 4px;
  padding: 4px;
  word-break: break-all;
}
.cell {
  display: flex;
}
.cell label {
  flex: 1;
  font-size: 12px;
  font-weight: normal;
  justify-content: flex-start;
}

nav ul,
.layout div ul {
  list-style: none;
}
.layout div li {
  font-size: 10px;
  padding: 2px 4px;
  text-align: right;
}

.collapsed > :not(:first-child) {
  display: none;
}

.layout h2 {
  cursor: pointer;
  user-select: none;
}
.layout h2::before {
  content: "▼";
  display: inline-block;
  font-size: 10px;
  margin: 0 4px;
  vertical-align: middle;
}
.layout .collapsed h2::before {
  content: "▶";
}

#metadata pre {
  white-space: pre-wrap;
  break-word: break-all;
}
